* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(./font/proximanova_regular.ttf);
}

body {
    font-family: "Proxima Nova", sans-serif;
    background-color: #162831;
    width: 1296px;
    margin: auto;
    ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "El Messiri", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

nav ul {
    display: flex;
    gap: 50px;

}

nav ul a {
    color: #ffffff;
    font-size: 14px;
}

nav ul a:hover {
    text-decoration: underline;
}

header button {
    background-color: #018ABE;
    border-radius: 3px;
    padding: 9px 15px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}

header button:hover {
    transition: filter .1s linear;
    filter: brightness(110%);
}

main {
    margin-top: 20px;
}

.first_screen {
    height: 600px;
    background: url(./img/unsplash_S-llxYh3GzI.svg);
    background-size: cover;
    background-blend-mode: lighten;
    background-color: #98C9DC80;

    border-radius: 10px;
    text-align: center;
    padding-top: 136px;
    color: #ffffff;
}

.first_screen h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}

.first_screen h2::before {
    content: url(./img/Rectangle\ 3.svg);
    margin-right: 66px;
}

.first_screen h2::after {
    content: url(./img/Rectangle\ 3.svg);
    display: inline-block;
    transform: scale(-1, 1);
    margin-left: 66px;
}

.first_screen h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 90px;
}

.seans h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 40px;

}

.seans h1::before {
    content: url(./img/Rectangle\ 6.svg);
    margin-right: 66px;
}

.seans h1::after {
    content: url(./img/Rectangle\ 6.svg);
    display: inline-block;
    transform: scale(-1, 1);
    margin-left: 66px;
}

.seans {
    height: 600px;
    background-size: cover;



    border-radius: 10px;
    text-align: center;
    padding-top: 136px;
    color: #ffffff;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    position: absolute;
    top: 1100px;
}

.div1 {
    grid-area: 1 / 1 / 3 / 2;
    background: url(./img/unsplash_TnOyyEtrKd0.svg);
    border-radius: 10px;
    color: white;
    padding-top: 136px;
    height: 540px;
    width: 416px;
    padding-top: 450px;
    padding-left: 50px;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    background: url(./img/unsplash_TnOyyEtrKd0.svg);
    border-radius: 10px;
    color: white;
    padding-top: 136px;
    height: 258px;
    width: 416px;
    padding-top: 140px;
    padding-left: 50px;
    background-position: 60px;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    background: url(./img/unsplash_TnOyyEtrKd0.svg);
    border-radius: 10px;
    color: white;
    padding-top: 136px;
    height: 258px;
    width: 416px;
    padding-top: 160px;
    padding-left: 50px;
    background-position: 60px;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
    background: url(./img/unsplash_TnOyyEtrKd0.svg);
    border-radius: 10px;
    color: white;
    padding-top: 136px;
    height: 258px;
    width: 416px;
    padding-top: 140px;
    padding-left: 50px;
    background-position: 60px;
}

.div5 {
    grid-area: 2 / 3 / 3 / 4;
    background: url(./img/unsplash_TnOyyEtrKd0.svg);
    border-radius: 10px;
    color: white;
    padding-top: 136px;
    height: 258px;
    width: 416px;
    padding-top: 160px;
    padding-left: 50px;
    background-position: 60px;
}

.div5 h2 {
    width: 335px;
}



.otzivs h1::before {
    content: url(./img/Rectangle\ 6.svg);
    margin-right: 66px;
}

.otzivs h1::after {
    content: url(./img/Rectangle\ 6.svg);
    display: inline-block;
    transform: scale(-1, 1);
    margin-left: 66px;
}

.otzivs h1 {
    height: 600px;
    background-size: cover;



    border-radius: 10px;
    text-align: center;
    padding-top: 460px;
    color: #ffffff;
}

.otzivs h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;

}

.alex {
    color: #ffffff;
    background-color: #018ABE;
    width: 500px;
    height: 276px;
    border-radius: 10px;
    position: absolute;
    left: 100px;
    top: 2025px;
}

.alex h2 {
    width: 410px;
    height: 22px;
    font-size: 16px;
    padding-top: 40px;
    padding-left: 45px;
}

.alex p {
    width: 410px;
    height: 22px;
    font-size: 10px;
    padding-top: 52px;
    padding-left: 45px;
}



.kira {
    align-items: center;
    color: #ffffff;
    background-color: #018ABE;
    width: 636px;
    height: 350px;
    border-radius: 10px;

    position: absolute;
    left: 640px;
}

.kira h2 {
    width: 516px;
    height: 28px;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 45px;
}

.kira p {
    width: 516px;
    height: 28px;
    font-size: 14px;
    padding-top: 52px;
    padding-left: 45px;
}



.yana {
    color: #ffffff;
    background-color: #018ABE;
    width: 500px;
    height: 276px;
    border-radius: 10px;
    position: absolute;
    right: 80px;
    top: 2025px;
}

.yana h2 {
    width: 410px;
    height: 22px;
    font-size: 16px;
    padding-top: 40px;
    padding-left: 45px;
}

.yana p {
    width: 410px;
    height: 22px;
    font-size: 10px;
    padding-top: 52px;
    padding-left: 45px;
}

.otzivs img {
    position: absolute;
    left: 900px;
    top: 2400px;
}


.ob h1::before {
    content: url(./img/Rectangle\ 6.svg);
    margin-right: 66px;
}

.ob h1::after {
    content: url(./img/Rectangle\ 6.svg);
    display: inline-block;
    transform: scale(-1, 1);
    margin-left: 66px;
}

.ob h1 {
    height: 600px;
    background-size: cover;



    border-radius: 10px;
    text-align: center;
    padding-top: 600px;
    color: #ffffff;
}

.ob h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;

}

.mas {
    color: #ffffff;
    height: 34px;
    position: absolute;
    left: 400px;

    padding-top: 166px;
}

.mas1 {
    color: #ffffff;
    width: 466px;
    height: 170px;
    position: absolute;
    left: 400px;
    padding-top: 220px;
    font-size: 16px;
}

.img1 {
    position: absolute;
    left: 960px;
}

.img2 {
    position: absolute;
    left: 400px;
    top: 3098px;
    padding-top: 100px;
}



.gid {
    color: #ffffff;
    height: 34px;
    position: absolute;
    top: 3010px;
    left: 935px;
    padding-left: 80px;
    padding-top: 200px;
}

.gid1 {
    color: #ffffff;
    width: 536px;
    height: 302px;
    position: absolute;
    left: 935px;
    top: 3010px;
    padding-top: 255px;
    font-size: 16px;
    padding-left: 80px;
}

.gid2 {
    color: #ffffff;
    width: 556px;
    height: 302px;
    position: absolute;
    left: 935px;
    top: 3150px;
    padding-top: 255px;
    font-size: 16px;
    padding-left: 80px;
}

.stoimost h1::before {
    content: url(./img/Rectangle\ 6.svg);
    margin-right: 45px;
}

.stoimost h1::after {
    content: url(./img/Rectangle\ 6.svg);
    display: inline-block;
    transform: scale(-1, 1);
    margin-left: 45px;
}

.stoimost h1 {
    height: 600px;
    background-size: cover;
    font-size: 42px;


    border-radius: 10px;
    text-align: center;
    padding-top: 980px;
    color: #ffffff;
}

.stoimost h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;

}

.qwer {
    position: absolute;
    left: 400px;
    padding-top: 203px;

}

.stoimost .kakoi1::before,
.kakoi2::before,
.kakoi3::before,
.kakoi4::before,
.kakoi5::before {
    content: url(./img/Rectangle\ 6.svg);
    margin-right: 20px;

}

.kakoi1,
.kakoi2,
.kakoi3,
.kakoi4,
.kakoi5 {
    color: #ffffff;
    font-size: 18px;
}

.cena1,
.cena2,
.cena3,
.cena4,
.cena5 {
    position: absolute;
    left: 370px;

    color: #ffffff;
    font-size: 18px;

}

.cena1 {
    position: absolute;
    top: 203px;

}

.cena2 {
    position: absolute;
    top: 279px;

}

.cena3 {
    position: absolute;
    top: 351px;

}

.cena4 {
    position: absolute;
    top: 424px;

}

.cena5 {
    position: absolute;
    top: 495px;
}

.kakoi1,
.kakoi2,
.kakoi3,
.kakoi4 {
    padding-bottom: 31px;
}

.stoimost img {
    padding-top: 145px;
    padding-left: 672px;
}

.stoimost h3 {
    color: #ffffff;
    font-size: 21px;
    padding-left: 812px;
    padding-top: 30px;
}


.parent1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 48px;
    grid-row-gap: 24px;
    padding-top: 150px;
}

.div10 {
    grid-area: 1 / 1 / 3 / 3;
}

.div20 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #018ABE;
    color: #ffffff;
    width: 392px;
    height: 290px;
    border-radius: 10px;
    position: absolute;
    left: 1208px;    
}

.div30 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #018ABE;
    color: #ffffff;
    width: 392px;
    height: 290px;
    border-radius: 10px;
    
    position: absolute;
    left: 1208px;
    top: 4817px;
}
.div20 h2{
    padding-left: 45px;
    padding-top: 35px;
    font-size: 24px;
}
.div30 h2{
    padding-left: 45px;
    padding-top: 35px;
    font-size: 24px;
}
.div20 p{
    padding-left: 45px;
    padding-top: 21px;
    font-size: 14px;
}
.div30 p{
    padding-left: 45px;
    padding-top: 21px;
    font-size: 14px;
}
.geo::before{
    content: url(./img/Vector.svg);
    margin-right: 23.25px;
}
.geo1::before{
    content: url(./img/Vector\ \(1\).svg);
    margin-right: 23.25px;
}
.geo2::before{
    content: url(./img/Vector\ \(2\).svg);
    margin-right: 23.25px;
}
.parent1 button {
    background-color: #ffffff;
    border-radius: 3px;
    padding: 9px 15px;
    border: none;
    color: #018ABE;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    margin-left: 45px;
    margin-top: 30px;
}